/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/


body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.center {
	max-width: 1145px;
	width: 100%;
	margin: 0 auto
}

.cont1 {
	background-image: url('./images/background.png');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 786px;
}

.cont1 .logo {
	display: inline-block;
	position: relative;
	top: 40px;

} 

.cont1 .logo span {
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;

}

.cont1 .menu ul li{
	display: inline-block;	
}

.cont1 .menu ul li a {
	font-size: 14px;
	color: #ffffff;
	padding-left: 17px;
	padding-right: 17px;
	text-decoration: none;
}

.cont1 .menu {
	margin-left: 48%;
	margin-top: 22px;
}
.cont1 h1{
	font-size: 46px;
	color:#ffffff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 32vh;
}

.cont1 .descr {
	font-size: 20px;
	font-family: 'RobotoSlab';
	text-align: center;
	padding-top: 3vh;
	color: white;
}

.cont1 .btn{
	text-align: center;
	margin-top: 8vh;
	font-size: 16px;
	

}

.cont1 .btn a{
	text-decoration: none;
	border: 2px solid white;
	color: white;
	padding: 17px 33px;
}

.cont2 .cards div{
	display: inline-block;
	width: 30%;
	text-align: center;
	margin:75px 1.45% 100px 1.45% ;
	margin-top: 13vh;
}
.cont2 .cards div svg{
	font-size: 86px;
	color:#c0301c;
	border: 2px solid #dddddd;
	border-radius: 50%;
	width:86px ;
	height: 86px;
}

.cont2 .cards .svg-lol svg  {
	font-size: 86px;
	color:#c0301c;
	border: 2px solid #dddddd;
	border-radius: 50%;
	width:49px ;
	height: 49px;
	padding: 20px;
}


.cont2 .cards div .descr1 {
	font-size: 14pt;
	color: #808080;
	margin-top: 4vh;
}

.cont2 .cards div .text1 {
	font-size: 14px;
	margin-top: 3vh;
	color: #555555;
}

.cont3 {
	background-color: #f8f8f8;
	width: 100%;
	text-align: center;
	margin-top: 13vh;
	padding-bottom: 18vh;
}

.cont3 .about h2 {
	padding:100px 0 30px 0;
	text-align: center;
	color: #555555;
	font-size: 20px;
}

.cont3 .about i {
	display:block;
	width: 50px;
	height: 2px;
	margin: 0 auto;
	background-color: #555555;
	margin-bottom: 30px;
}

.cont3 .about .descr2{
	font-size: 14pt;
	color: #808080;
	margin-top: 4vh;
}

.cont3 .about .text div {
	margin-top: 9vh;
	display: inline-block;
	position: relative;
	width: 46.5%;
	font-size: 14px;
	color: #949494;
	margin-right: 20px;
	text-align: left;
}

.cont4 h2 {
	padding:100px 0 30px 0;
	text-align: center;
	color: #555555;
	font-size: 20px;
}

.cont4 i {
	display:block;
	width: 50px;
	height: 2px;
	margin: 0 auto;
	background-color: #555555;
	margin-bottom: 30px;
}

.cont4 ul li{
	display: inline-block;
	color: #555555;
	font-size: 15px;
	padding: 0 14px;
}
.cont4 {
	text-align: center;
	margin-bottom: 15vh;
}

.cont4 ul li:hover{
	color:#c0301c;
	cursor:pointer;
}

.cont4 .galery {
	margin-top: 10vh;
}

.cont4 .galery div{
	display: inline-flex;
	width: 30%;
	margin: 12px 1.5%;
	
}

.cont4 .card {
	position: relative;
	overflow: hidden;
	margin: 10px;
	display: inline;
}

.cont4 .galery .card img{
	width: 100%;
}



.cont4 .galery .card:hover .button {
	opacity: 1;  
}

.cont4 .galery .button {
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(247, 42, 42, 0.5);
	padding: 10px;
	text-align: center;
	padding-top: 60%;
	opacity: 0;
	display: inline;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.cont4 .galery .text1 {
	color: white;
	width: 100%;
	font-size: 18px;
	margin-bottom: 10px;
}

.cont4 .galery .text2 {
	color: white;
	font-size: 12px;
	margin-bottom: 36px;
}

.cont4 .galery .link {
	color: #d98175;
	text-decoration: none;
	font-size: 14px;
	border: 2px solid white;
	padding: 8px 23px ;
	background-color: white;
}

.cont5 {
	background-image: url(./images/bgim.png);
	height: 320px;
}
.cont5 .center{
	padding-top: 100px;
}
.cont5 .fonimg {
	background-color: rgba(150, 0, 0, 0.5);
	text-align: center;
	width: 100%;
	height: 100%;
}

.cont5 .descr5{
	font-size: 30px;
	color:white;
	margin-bottom: 70px;

}

.cont5 .button5 a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	border: 2px solid #ffffff;
	padding: 12px 25px ;
}

.cont6 {
	background-color: #f8f8f8;
	text-align: center;
	padding-top: 100px;
}

.cont6 .labl {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 5%;
}

.cont6 .labl img {
	height: 50%;
	padding : 7px 7px;
}

.cont6 .text6 {
	color:#555555;
	font-style: oblique;
	font-size: 18px;
	padding-left: 160px;
	padding-right: 160px;
	padding-bottom: 50px;
}

.cont6 .cite {
	font-size: 20px;
	color:#555555;
	padding-bottom: 130px;
}

.cont7 {
	background-color: #c0301c;
	text-align: center;
	padding-top: 100px;
}

.cont7 ul li {
	display: inline-block;
	border: 2px solid white;
	border-radius: 50%;
	padding: 10px 10px;
	margin: 0 7px;
	margin-bottom: 65px;
}

.cont7 .copy {
	font-size: 12px;
	color: #f0d8d6;
	padding-bottom: 100px;
}

@media (max-width:1250px){
	.center{
		width: 90%;
	}
}
	
@media (max-width:992px){
	.cont1 .menu {
		display: none;
	}
	.cont4 .galery div {
		margin: 10px 1%;
	}

	.cont6 .text6 {
		padding-left: 80px;
    	padding-right: 80px;
	}
}
	
@media (max-width:768px){
	.cont2 .cards div {
		width: 45%;
		margin-bottom: 0;
	}
	.cont4 .galery div {
		width: 45%;
	}
		
	.cont5 .center {
		padding-top: 80px;
	}

	.cont3 .about .text div {
		width: 80%;
		margin-top: 5vh;
	}
	.cont3 {
		padding-bottom: 5vh;
	}
}
	
@media (max-width:550px) {
	.cont2 .cards div {
		width: 100%;
		margin-top: 5vh;
	}
	.cont4 .galery div {
		width: 85%;
	}
}
	
@media (max-width:425px) {
	.cont4 .galery div { 
		width: 95%;
	}

	.descr5 p {
		font-size: 20px;
	}

	.cont6 .text6 {
		padding-left: 10px;
    	padding-right: 10px;
	}
	.cont7 {
		padding-top: 50px;
	}

	.cont7 .copy {
		padding-bottom: 50px;
	}
}
	
@media (max-height: 1400px){
	.cont1 h1{
		padding-top: 20vh;
	}
	.cont1 .descr {
		padding-top: 3vh;
	}
	.cont1 .btn {
		margin-top: 7vh;
	}
}

@media (max-height: 1100px){
	.cont1 h1{
		padding-top: 25vh;
	}
	.cont1 .descr {
		padding-top: 3vh;
	}
	.cont1 .btn {
		margin-top: 7vh;
	}
}




@media (max-height: 800px){
	.cont1 h1{
		padding-top: 33vh;
	}
	.cont1 .descr {
		padding-top: 3vh;
	}
	.cont1 .btn {
		margin-top: 8vh;
	}
}

